---
title: G5 test Results
author: admin
layout: post
permalink: /g5-test-results/
dsq_thread_id:
  - 26006054
categories:
  - Uncategorized
---
[this page on macworld][1] has some stats of the G5 V other macs. Well to be precise, Dual G5 2Gz V 1.8Gz G5, 1.6Gz G5, Dual 1.42Gz G4, and a 1G G4. Sweet Results. and 268FPS on Quake 3! <img src="http://blog.lotas-smartman.net/wp-includes/images/smilies/icon_razz.gif" alt=":P" class="wp-smiley" />

 [1]: http://www.macworld.com/2003/09/reviews/macworldlabfirstg5testresults/