<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6435972961836580"
     crossorigin="anonymous"></script>
<!-- blog.lotas-smartman.net-horiz -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6435972961836580"
     data-ad-slot="4057413202"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    {% include header.html %}

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6435972961836580"
    crossorigin="anonymous"></script>
<!-- blog.lotas-smartman.net-horiz -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-6435972961836580"
    data-ad-slot="4057413202"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    {% include footer.html %}

</body>

</html>